<div class='monument-cards'>
	<% monuments.each do | monument | %>
		<div class="monument-card-wrapper">
			<a class="monument-card" href="<%= monument_short_path monument %>">
				<% if photo = monument.photos.order(:ord).take %>
					<div style="background-image: url(//lupa.at/img/<%= url_encode photo.filename %>);" class=photo></div>
				<% end %>
				<p class="id">
					<%= monument.id%>&emsp;
					<%= monument.title %>
				</p>
				<% if !@query || @query.id == 1 %>
					<p class="detail">
						<%= monument.object_type %>
						<%= " / " + monument.monument_type if monument.monument_type %>
					</p>
				<% end %>
				<% if monument.finding_place %>
					<% if @query && @query.finding_place %>
						<p class="detail">
							Fundort:
							<% 
							monument.finding_place.hierarchy.reverse.each_with_index do | place, idx |
								concat ", " if idx > 0
								concat place.name
							end
							%>
						</p>
					<% else %>
						<p class="detail">
							Fundort:
							<% 
							places = monument.finding_place.hierarchy
							concat places.last.name
							concat ", " + places.first.name if places.count > 1
							%>
						</p>
					<% end %>
				<% end %>
				<% if @query && @query.ancient_finding_place && monument.ancient_finding_place %>
					<p class="detail">
						Antiker Fundort / Provinz:
						<%= monument.ancient_finding_place.full_name %>
					</p>
				<% end %>
				<% if @query && @query.conservation_place && monument.conservation_place %>
					<p class="detail">
						Verwahrort:
						<% 
						monument.conservation_place.hierarchy.reverse.each_with_index do | place, idx |
							concat ", " if idx > 0
							concat place.name
						end
						%>
					</p>
				<% end %>
				<% if @query && @query.museum && monument.museum %>
					<p class="detail">
						Museum: <%= monument.museum.name + " " + monument.museum.place.name %>
					</p>
				<% end %>
				<% if @query && iconography_excerpt = @query.iconography_excerpt(monument) %>
					<p class="detail">
						Ikonografie: <%= iconography_excerpt %>
					</p>
				<% end %>
				<% if @query && @query.inscription && monument.inscåription %>
					<p class="detail">
						Inschrift: <%= @query.inscription_excerpt(monument) %>
					</p>
				<% end %>
				<% if @query && @query.dating %>
					<p class="detail">
						Datierung: <%= monument.dating_phase %>
					</p>
				<% end %>
				<% if @query && literature_excerpt = @query.literature_excerpt(monument) %>
					<p class="detail">
						Literatur: <%= literature_excerpt %>
					</p>
				<% end %>
			</a>
		</div>
	<% end %>
	<div class="monument-card-wrapper">
		<a class="monument-card" href="<%= url_for controller: "monuments", action: "recent" %>">
			<img class="show-more-photo" src="<%= asset_path "show_more.png" %>">
			<span class="show-more-text">Alle Neuzugänge anzeigen</span>
		</a>
	</div>
	<div style='clear: both;'></div>
</div>