<div class='monument-cards'>
	<% monuments.each do | monument | %>
		<div class="monument-card-wrapper">
			<a class="monument-card" href="<%= monument_short_path monument %>">
				<% if photo = monument.photos.order(:ord).take %>
					<div class=photo><img src="//lupa.at/img/<%= photo.filename %>"></div>
				<% end %>
				<p class="id">
					<%= monument.id%>
					<%= monument.title %>
				</p>
				<% if !@query || @query.id == 1 %>
					<p class="detail">
						<%= monument.object_type %>
						<%= " / " + monument.monument_type if monument.monument_type %>
					</p>
				<% end %>
				<% if @query && @query.finding_place && monument.finding_place %>
					<p class="detail">
						Fundort:
						<% 
						monument.finding_place.hierarchy.reverse.each_with_index do | place, idx |
							concat ", " if idx > 0
							concat place.name
						end
						%>
					</p>
				<% end %>
				<% if @query && @query.conservation_place && monument.conservation_place %>
					<p class="detail">
						Verwahrort:
						<% 
						monument.conservation_place.hierarchy.reverse.each_with_index do | place, idx |
							concat ", " if idx > 0
							concat place.name
						end
						%>
					</p>
				<% end %>
				<% if @query && @query.museum && monument.museum %>
					<p class="detail">
						Museum: <%= monument.museum.name + " " + monument.museum.place.name %>
					</p>
				<% end %>
				<% if @query && iconography_excerpt = @query.iconography_excerpt(monument) %>
					<p class="detail">
						Ikonografie: <%= iconography_excerpt %>
					</p>
				<% end %>
				<% if @query && @query.inscription && monument.inscription %>
					<p class="detail">
						Inschrift: <%= @query.inscription_excerpt(monument) %>
					</p>
				<% end %>
				<% if @query && literature_excerpt = @query.literature_excerpt(monument) %>
					<p class="detail">
						Literatur: <%= literature_excerpt %>
					</p>
				<% end %>
			</a>
		</div>
	<% end %>
	<div style='clear: both;'></div>
</div>