<% source = {} if not source %>
<div class='monument-cards'>
	<% monuments.each do | monument | %>
		<div class="monument-card-wrapper">
			<a class="monument-card" href="<%= monument_short_path monument, source %>">
				<% if photo = monument.photos.order(:ord).take %>
					<div style="background-image: url(/thumbnail/small/<%= url_encode photo.filename %>);" class=photo></div>
				<% end %>
				<p class="id">
					<%= monument.id%>
					<% if @query %>
						<%= @query.title_highlight(monument) %>
					<% else %>
						<%= monument.title %>
					<% end %>
				</p>
				<% if !@query || @query.id == 1 %>
					<p class="detail">
						<%= monument.object_type %>
						<%= " / " + monument.monument_type if monument.monument_type %>
					</p>
				<% end %>
				<% if monument.finding_place %>
					<% if @query %>
						<p class="detail">
							Fundort:
							<% 
							monument.finding_place.hierarchy.reverse.each_with_index do | place, idx |
								concat ", " if idx > 0
								concat place.name
							end
							%>
						</p>
					<% else %>
						<p class="detail">
							Fundort:
							<% 
							places = monument.finding_place.hierarchy
							concat places.last.name
							concat ", " + places.first.name if places.count > 1
							%>
						</p>
					<% end %>
				<% end %>
				<% if @query && @query.ancient_finding_place && monument.ancient_finding_place %>
					<p class="detail">
						Antiker Fundort / Provinz:
						<%= monument.ancient_finding_place.full_name %>
					</p>
				<% end %>
				<% if @query && monument.conservation_place %>
					<p class="detail">
						Verwahrort:
						<% 
						monument.conservation_place.hierarchy.reverse.each_with_index do | place, idx |
							concat ", " if idx > 0
							concat place.name
						end
						%>
					</p>
				<% end %>
				<% if @query && @query.museum && monument.museum %>
					<p class="detail">
						Museum: <%= monument.museum.name + " " + monument.museum.place.name %>
					</p>
				<% end %>
				<% if @query && iconography_excerpt = @query.iconography_excerpt(monument) %>
					<p class="detail">
						Ikonografie: <%= iconography_excerpt %>
					</p>
				<% end %>
				<% if @query && inscription_excerpt = @query.inscription_excerpt(monument) %>
					<p class="detail">
						Inschrift: <%= inscription_excerpt %>
					</p>
				<% end %>
				<% if @query && (@query.dating || @query.dating_from || @query.dating_to)%>
					<p class="detail">
						<%
						dating_info = []
						if monument.dating_phase 
							dating_info += [monument.dating_phase]
						end
						if monument.dating_from || monument.dating_to 
							dating_info += [monument.dating_years]
						end
						%>
						Datierung: <%= dating_info.join('; ') %>
					</p>
				<% end %>
				<% if @query && literature_excerpt = @query.literature_excerpt(monument) %>
					<p class="detail">
						Literatur: <%= literature_excerpt %>
					</p>
				<% end %>
			</a>
		</div>
	<% end %>
	<div style='clear: both;'></div>
</div>