<div class="page">
	<h1><%= @index_page.display_title %></h1>
	<p>
		<%= nl2br @index_page.display_text %>
	</p>
	<div class="show-more show-all">
		<%= link_to "Alle Denkm채ler anzeigen", @query %>
		<!-- <%= link_to "Denkm채ler suchen", controller: "queries", action: "edit", id: @query %> -->
	</div>
	
	<%= render partial: 'queries/form', locals: { query: @query } %>
	<h2>Neuzug채nge seit <%= l @new_monuments_date, format: "%B %Y" %></h2>
	<div class="two-column">
		<%= render partial: 'monuments/monuments_list', locals: { monuments: @new_monuments } %>
	</div>
	<% if @new_monuments_count > @new_monuments.length %>
		<div class="show-more"><%= link_to "Alle #{@new_monuments_count} Neuzug채nge anzeigen", action: "recent" %></div>
	<% end %>
</div>