<div class="page">
	<h1>Bilddatenbank Ubi Erat Lupa</h1>
	<p>
		Ubi Erat Lupa ist eine Datenbank zu antiken Steindenkmälern für Wissenschaft und Lehre.
		Wir vernetzen Museen und Universitäten, erleichtern das Auffinden von Publikationen,
		und machen auch wiederverwertete Objekte sichtbar.
	</p>
	<div class="show-more show-all"><%= link_to "Alle Denkmäler anzeigen", @query %></div>
	
	<%= render partial: 'queries/form', locals: { query: @query } %>
	<h2>Neuzugänge <%= l @new_monuments.first.created, format: "%B %Y" %></h2>
	<%= render partial: 'monuments/monuments_list', locals: { monuments: @new_monuments } %>
	<% if @new_monuments.total_count > @new_monuments.count %>
		<div class="show-more"><%= link_to "Alle #{@new_monuments.total_count} Neuzugänge anzeigen", ""%></div>
	<% end %>
</div>