<div class="photo-box-header">
	<p class="title">
		<%= link_to monument_short_path(@monument) do %>
			<%=@monument.id%> <span class="detail"><%=@monument.title%></span> 
		<% end %>
	</p>
	<p class='detail'>Bildnummer: <span id='photo-number'><%= @all_photos[@curr_photo_index][:number] %></span></p>
	<p id='photo-caption' class='detail'><%= nl2br @all_photos[@curr_photo_index][:caption] %></p>
	<p id='photo-order-info' class='info detail <% concat 'no-permission-required' unless @all_photos[@curr_photo_index][:publication_permission_required] %>'>
		Für Bildbestellungen beachten Sie bitte
		<a href="<%= url_for controller: "pages", action: "show", id: "photos" %>">diese Informationen</a>.
		<span class='permission-required'>Eine Publikationsgenehmigung des Copyright-Inhabers ist notwendig.</span>
	</p>
	<a href="javascript:togglePhotoDetails()" class="toggle-detail">hide / show detail info</a>
</div>

<div class="photo-box-container">
	<img class="main-photo" id="main-photo" src="<%= @all_photos[@curr_photo_index][:src] %>">
	<div class="photo-box-footer">
	</div>
</div>


<div class="nav-buttons">
	<a rel="prev" id="prev-photo-link" href="" onclick="goPrev(); return false">vorheriges Bild</a>
	<a rel="next" id="next-photo-link" href="" onclick="goNext(); return false">nächstes Bild</a>
</div>

<div class="nav-index-buttons">
	<% @all_photos.each_with_index do |photo, i| %>
		<a href="" id='photo-<%=i%>-link' onclick="curr_photo_index = <%=i%>; updatePhoto(); return false"><%=i+1%></a>
	<% end %>
</div>


<script>
	document.onkeydown = arrowNavigation;

	all_photos = <%== @all_photos.to_json %>
	curr_photo_index = <%== @curr_photo_index %>

	function arrowNavigation(e) {
	    e = e || window.event;

	    if (e.keyCode == '38') {
	        // up arrow
	    }
	    else if (e.keyCode == '40') {
	        // down arrow
	    }
	    else if (e.keyCode == '37') {
			goPrev()
	    }
	    else if (e.keyCode == '39') {
			goNext()
	    }
	}
	
	function goPrev() {
		if (0 < curr_photo_index) {
			curr_photo_index--
			updatePhoto()
		}
		event.stopPropagation()
	}
	
	function goNext() {
		if (curr_photo_index < all_photos.length - 1 ) {
			curr_photo_index++
			updatePhoto()
		}
		event.stopPropagation()
	}
	
	
	function updatePhoto() {
		document.getElementById('photo-caption').innerHTML = escape_nl2br(all_photos[curr_photo_index].caption)
		document.getElementById('photo-number').innerHTML = escape_nl2br(all_photos[curr_photo_index].number)
		document.getElementById('main-photo').src = all_photos[curr_photo_index].src
		document.getElementById('prev-photo-link').style.opacity = 0 < curr_photo_index ? 1 : 0;
		document.getElementById('next-photo-link').style.opacity = curr_photo_index < all_photos.length - 1 ? 1 : 0;
		document.getElementById('photo-order-info').className = all_photos[curr_photo_index].publication_permission_required ? 'info detail permission-required' : 'info detail no-permission-required';
		history.replaceState({}, '', all_photos[curr_photo_index].url)
		for (i=0; i<all_photos.length; i++) {
			document.getElementById('photo-'+i+'-link').className = i==curr_photo_index ? 'active' : '';
		}
	}
	
	updatePhoto();
	
	function escape_nl2br(unsafe) {
	    return unsafe
			.replace(/&/g, "&amp;")
			.replace(/</g, "&lt;")
			.replace(/>/g, "&gt;")
			.replace(/"/g, "&quot;")
			.replace(/'/g, "&#039;")
			.replace(/\r?\n/g, "<br>\n")
	 }
	 
	 function togglePhotoDetails() {
		 if (document.body.className.match(/hide-details/)) {
			 document.body.className = document.body.className.replace(/\s*hide-details/, '')
		 } else {
			 document.body.className = document.body.className + ' hide-details';
		 }
	 }
	
</script>