<div class="photo-box-header">
	<p class="title">
		<%= link_to monument_short_path(@monument) do %>
			<%=@monument.id%> <span class="detail"><%=@monument.title%></span> 
		<% end %>
	</p>
	<p class='detail'>Bildnummer: <span id='photo-number'><%= @all_photos[@curr_photo_index][:number] %></span></p>
	<p id='photo-caption' class='detail'><%= nl2br @all_photos[@curr_photo_index][:caption] %></p>
	<p id='photo-comment' class='detail'><%= nl2br @all_photos[@curr_photo_index][:comment] %></p>
	<p id='photo-order-info' class='info detail <% concat 'no-permission-required' unless @all_photos[@curr_photo_index][:publication_permission_required] %>'>
		Für Bildbestellungen beachten Sie bitte
		<a href="<%= url_for controller: "pages", action: "show", id: "photos" %>">diese Informationen</a>.
		<span class='permission-required'>Eine Publikationsgenehmigung des Copyright-Inhabers ist notwendig.</span>
	</p>
	<a href="javascript:togglePhotoDetails()" class="toggle-detail">hide / show detail info</a>
</div>

<div class="photo-box-zoom-button">
	<a href="javascript:photoZoom()" class="fit-width">
		<svg width="40" height="40" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
		    <g transform="matrix(1,0,0,1,-2.22984,-3.3039)">
		        <path d="M20.09,7.077C27.51,7.077 33.533,13.101 33.533,20.521C33.533,27.94 27.51,33.964 20.09,33.964C12.67,33.964 6.647,27.94 6.647,20.521C6.647,13.101 12.67,7.077 20.09,7.077ZM20.09,9.077C26.406,9.077 31.533,14.205 31.533,20.521C31.533,26.836 26.406,31.964 20.09,31.964C13.774,31.964 8.647,26.836 8.647,20.521C8.647,14.205 13.774,9.077 20.09,9.077Z"/>
		    </g>
		    <g transform="matrix(0.695085,0,0,0.695085,14.3623,14.1661)">
		        <path d="M17.86,17.217L39.688,39.044" style="fill:none;stroke-width:11.51px;"/>
		    </g>
		</svg>
	</a>
</div>

<div class="photo-box-container">
	<img class="main-photo" id="main-photo" src="<%= @all_photos[@curr_photo_index][:src] %>">
	<!-- <div class="photo-box-footer">
	</div> -->
</div>


<div class="nav-buttons">
	<a rel="prev" id="prev-photo-link" href="" onclick="goPrev(); return false">vorheriges Bild</a>
	<a rel="next" id="next-photo-link" href="" onclick="goNext(); return false">nächstes Bild</a>
</div>

<div class="nav-index-buttons">
	<% @all_photos.each_with_index do |photo, i| %>
		<a href="" id='photo-<%=i%>-link' onclick="curr_photo_index = <%=i%>; updatePhoto(); return false"><%=i+1%></a>
	<% end %>
</div>


<script>
	document.onkeydown = arrowNavigation;

	all_photos = <%== @all_photos.to_json %>
	curr_photo_index = <%== @curr_photo_index %>

	function arrowNavigation(e) {
	    e = e || window.event;

	    if (e.keyCode == '38') {
	        // up arrow
	    }
	    else if (e.keyCode == '40') {
	        // down arrow
	    }
	    else if (e.keyCode == '37') {
			goPrev()
	    }
	    else if (e.keyCode == '39') {
			goNext()
	    }
	}
	
	function goPrev() {
		if (0 < curr_photo_index) {
			curr_photo_index--
			updatePhoto()
		}
		event.stopPropagation()
	}
	
	function goNext() {
		if (curr_photo_index < all_photos.length - 1 ) {
			curr_photo_index++
			updatePhoto()
		}
		event.stopPropagation()
	}
	
	
	function updatePhoto() {
		document.getElementById('photo-caption').innerHTML = escape_nl2br(all_photos[curr_photo_index].caption)
		document.getElementById('photo-comment').innerHTML = escape_nl2br(all_photos[curr_photo_index].comment)
		document.getElementById('photo-number').innerHTML = escape_nl2br(all_photos[curr_photo_index].number)
		document.getElementById('main-photo').src = all_photos[curr_photo_index].src
		document.getElementById('prev-photo-link').style.opacity = 0 < curr_photo_index ? 1 : 0;
		document.getElementById('next-photo-link').style.opacity = curr_photo_index < all_photos.length - 1 ? 1 : 0;
		document.getElementById('photo-order-info').className = all_photos[curr_photo_index].publication_permission_required ? 'info detail permission-required' : 'info detail no-permission-required';
		history.replaceState({}, '', all_photos[curr_photo_index].url)
		for (i=0; i<all_photos.length; i++) {
			document.getElementById('photo-'+i+'-link').className = i==curr_photo_index ? 'active' : '';
		}
	}
	
	updatePhoto();
	
	function escape_nl2br(unsafe) {
	    return unsafe
			.replace(/&/g, "&amp;")
			.replace(/</g, "&lt;")
			.replace(/>/g, "&gt;")
			.replace(/"/g, "&quot;")
			.replace(/'/g, "&#039;")
			.replace(/\r?\n/g, "<br>\n")
	 }
	 
	 function togglePhotoDetails() {
		 if (document.body.className.match(/hide-details/)) {
			 document.body.className = document.body.className.replace(/\s*hide-details/, '')
		 } else {
			 document.body.className = document.body.className + ' hide-details';
		 }
	 }
	 
	 function photoZoom(mode) {
		if (document.body.className.indexOf('fit-width')==-1) {
			document.body.className = document.body.className + ' fit-width';
		} else {
			document.body.className = document.body.className.replace(/\s*fit-width/g, '')
		}
	 }
</script>