<div class="monument page">
	
	<h2>
		<%= link_to_monument @monument %>
	</h2>
		
	<%= paginate @photos, params_on_first_page: true, theme: 'monument_photos', window: 1000 %>
	<img src="http://lupa.at/img/<%= @photo.filename %>">
	
	<p>Bildnummer: <%= @photo.filename.sub(/\.jpe?g$/i, '') %></p>
	
	<p><%= nl2br @photo.caption %></p>
		
</div>