<div class="monument page">
	
	<h2>
		<%= @monument.id %>
		<%= @monument.title %>
	</h2>
	
	<% if @photos.count > 0 %>
		<div class="photos">
			<%
			captions = []
			photo_numbers = []
			@photos.each_with_index do | photo, photo_index |
				caption = photo.caption
				caption_index = captions.index caption
				if caption_index
					photo_numbers[caption_index].push photo_index+1
				else
					captions.push caption
					photo_numbers.push [photo_index+1]
				end
			end
			%>
			<% @photos.each_with_index do | photo, idx | %>
				<a href="http://lupa.at/img/<%= photo.filename %>">
					<% if captions.count > 1 %>
						<span><%= idx + 1 %></span>
					<% end %>
					<img src="http://lupa.at/img/<%= photo.filename %>">
				</a>
			<% end %>
			<div class='caption'>
				<%= @photos.count == 1 ? 'Foto: ' : 'Fotos: ' %>
				<% captions.each_with_index do | caption, index | %>
					<span>
						<% if captions.count > 1 %>
							<%= raw photo_numbers[index].map{|a| '<span>'+h(a)+'</span>'}.join(' ')%>
						<% end %>
						<%= caption %>
					</span>
				<% end %>
			</div>
		</div>
	<% end %>
	
	<dl class='third'>
		<dt>Nr</dt>
		<dd><%= @monument.id %></dd>
	</dl>
	
	<dl class='third'>
		<dt>Objekt-Typ</dt>
		<dd>
			<%= @monument.object_type %>
		</dd>
	</dl>
	
	<% if @monument.monument_type %>
		<dl class='third'>
			<dt>Denkmal-Typ</dt>
			<dd>
				<%= @monument.monument_type %>
			</dd>
		</dl>
	<% end %>
	
	<dl>
		<% if @monument.comment %>
			<dt>Kommentar</dt>
			<dd>
				<%= @monument.comment %>
			</dd>
		<% end %>
		<% if @monument.related_monument_ids %>
			<dt>Teil von</dt>
			<dd>
				<%= @monument.related_monument_ids %>
			</dd>
		<% end %>
	</dl>

	<div class="section">
		<h3>Fundort</h3>
		<dl>
			<% if @monument.finding_place || @monument.finding_place_comment %>
				<dt>Fundort</dt>
				<dd>
					<%= link_to_place @monument.finding_place %> <%= @monument.finding_place_comment %>
					<% 
					if @monument.finding_place && @monument.finding_place.parent
						concat "<span class=deemph>(".html_safe
						@monument.finding_place.parent.hierarchy.reverse.each_with_index do | place, idx |
							concat ", " if idx > 0
							concat link_to_place place
						end
						concat ")</span>".html_safe
					end
					%>
				</dd>
			<% end %>
			<% if @monument.finding_comment %>
				<dt>Fundumstände</dt>
				<dd>
					<%= @monument.finding_comment %>
				</dd>
			<% end  %>
			<% if @monument.ancient_finding_place %>
				<dt>Antiker Fundort / Provinz</dt>
				<dd>
					<%= @monument.ancient_finding_place.full_name %>
				</dd>
			<% end  %>
		</dl>
	</div>
		
		
	<div class="section">
		<h3>Verwahrort</h3>
		<dl>
			<% if @monument.conservation_place || @monument.conservation_place_comment %>
				<dt>Verwahrort</dt>
				<dd>
					<%= link_to_place @monument.conservation_place %> <%= @monument.conservation_place_comment %>
					<% 
					if @monument.conservation_place && @monument.conservation_place.parent
						concat "<span class=deemph>(".html_safe
						@monument.conservation_place.parent.hierarchy.reverse.each_with_index do | place, idx |
							concat ", " if idx > 0
							concat link_to_place place
						end
						concat ")</span>".html_safe
					end
					%>
				</dd>
			<% end %>
			<% if @monument.museum %>
				<dt>Museum</dt>
				<dd>
					<%= link_to @monument.museum.name + " " + @monument.museum.place.name, @monument.museum %>
				</dd>
			<% end  %>
			<% if @monument.conservation_comment %>
				<dt>Verwahrumstände</dt>
				<dd>
					<%= @monument.conservation_comment %>
				</dd>
			<% end  %>
			<% if @monument.museum_inventory_number %>
				<dt>Inventarnummer</dt>
				<dd>
					<%= @monument.museum_inventory_number %>
				</dd>
			<% end  %>
		</dl>
	</div>
		
		
	<div class="section">
		<h3>Physikalische Eigenschaften</h3>
		<dl>
			<% if @monument.conservation_state %>
				<dt>Erhaltung</dt>
				<dd>
					<%= @monument.conservation_state %>
				</dd>
			<% end  %>
			<% if @monument.width ||  @monument.height || @monument.depth %>
				<dt>Maße</dt>
				<dd>
					<% if @monument.width %>
						<span class='measurement'>
							Breite: <%= @monument.width %>
						</span>
					<% end %>
					<% if @monument.height %>
						<span class='measurement'>
							Höhe: <%= @monument.height %>
						</span>
					<% end %>
					<% if @monument.depth %>
						<span class='measurement'>
							Tiefe: <%= @monument.depth %>
						</span>
					<% end %>
				</dd>
			<% end  %>
			<% if @monument.material || @monument.material_local_name %>
				<dt>Material</dt>
				<dd>
					<%= @monument.material %>
					<% if @monument.material_local_name %>
						<span class="deemph">(<%= @monument.material_local_name %>)</span>
					<% end %>
				</dd>
			<% end %>
		</dl>
	</div>
		
		
	<div class="section">
		<h3>Beschreibung des Objektes</h3>
		<dl>
			<% if @monument.iconography %>
				<dt>Ikonographie</dt>
				<dd>
					<%= nl2br @monument.iconography %>
				</dd>
			<% end  %>	
			<% if @monument.inscription %>
				<dt>Inschrift</dt>
				<dd>
					<%= nl2br @monument.inscription %>
				</dd>
			<% end  %>
			<% if @monument.inscription_variants %>
				<dt>Varianten</dt>
				<dd>
					<%= nl2br @monument.inscription_variants %>
				</dd>
			<% end  %>
			<% if @monument.inscription_translation %>
				<dt>Übersetzung</dt>
				<dd>
					<%= nl2br @monument.inscription_translation %>
				</dd>
			<% end  %>
			<% if @monument.inscription_type %>
				<dt>Inschrift-Typ</dt>
				<dd>
					<%= @monument.inscription_type %>
				</dd>
			<% end  %>
			<% if @monument.inscription_function %>
				<dt>Funktion</dt>
				<dd>
					<%= @monument.inscription_function %>
				</dd>
			<% end  %>
			<% if @monument.inscription_name_donor %>
				<dt>Errichter</dt>
				<dd>
					<%= @monument.inscription_name_donor %>
				</dd>
			<% end  %>
			<% if @monument.inscription_comment %>
				<dt>Kommentar</dt>
				<dd>
					<%= nl2br @monument.inscription_comment %>
				</dd>
			<% end  %>
			<% if @monument.inscription_letter_size %>
				<dt>Buchstabenhöhe</dt>
				<dd>
					<%= @monument.inscription_letter_size %>
				</dd>
			<% end  %>
			<% if @monument.inscription_paleography %>
				<dt>Paleographie</dt>
				<dd>
					<%= @monument.inscription_paleography %>
				</dd>
			<% end  %>
		</dl>
	</div>
		
		
	<div class="section">
		<h3>Datierung</h3>
		<dl>
			<% if @monument.dating_phase %>
				<dt>Phase</dt>
				<dd>
					<%= @monument.dating_phase %>
				</dd>
			<% end  %>
			<% if @monument.dating_from || @monument.dating_to %>
				<dt>Jahr</dt>
				<dd>
					<% if @monument.dating_from == @monument.dating_to %>
						<%= @monument.dating_from %>
						<%= 'n. Chr.' if @monument.dating_from > 0 %>
						<%= 'v. Chr.' if @monument.dating_from < 0 %>
					<% else %>
						<% if @monument.dating_from %>
							<%= @monument.dating_from %>
							<%= 'n. Chr.' if @monument.dating_from > 0 %>
							<%= 'v. Chr.' if @monument.dating_from < 0 %>
						<% end %>
						 -
						<%= @monument.dating_to %>
						<%= 'n. Chr.' if @monument.dating_to > 0 %>
						<%= 'v. Chr.' if @monument.dating_to < 0 %>
					<% end %>
				</dd>
			<% end  %>
			<% if @monument.dating_comment %>
				<dt>Begründung</dt>
				<dd>
					<%= @monument.dating_comment %>
				</dd>
			<% end  %>
		</dl>
	</div>
		
	<div class="section">
		<h3>Referenzen</h3>
		<dl>
			<% if @monument.literature %>
				<dt>Literatur</dt>
				<dd>
					<%= nl2br @monument.literature %>
				</dd>
			<% end %>
			<% if @monument.literature_online %>
				<dt>Online Literatur</dt>
				<dd>
					<%= nl2br @monument.literature_online %>
				</dd>
			<% end %>
			<dt>Zitat</dt>
			<dd>
				F. und O. Harl, Ubi Erat Lupa, http://lupa.at/<%= @monument.id %>
			</dd>
			<% if @monument.catalog_text %>
				<dt>Katalogtext</dt>
				<dd>
					<%= nl2br @monument.catalog_text %>
				</dd>
			<% end %>
		</dl>
	</div>
	
	<div class="section">
		<h3>Bearbeitung des Datensatzes</h3>
		<dl>
			<% if @monument.archaeology_author %>
				<dt>Archäologie</dt>
				<dd>
					<p>
						<%= @monument.archaeology_author.first_name %>
						<%= @monument.archaeology_author.last_name %>
					</p>
					<% if @monument.archaeology_author.email %>
						<p>
							<%= link_to @monument.archaeology_author.email, "mailto:#{@monument.archaeology_author.email}" %>
						</p>
					<% end %>
					<p>
						<%= @monument.archaeology_author.institution %>
					</p>
				</dd>
			<% end %>
			<% if @monument.epigraphy_author %>
				<dt>Epigraphik</dt>
				<dd>
					<p>
						<%= @monument.epigraphy_author.first_name %>
						<%= @monument.epigraphy_author.last_name %>
					</p>
					<% if @monument.epigraphy_author.email %>
						<p>
							<%= link_to @monument.epigraphy_author.email, "mailto:#{@monument.archaeology_author.email}" %>
						</p>
					<% end %>
					<p>
						<%= @monument.epigraphy_author.institution %>
					</p>
				</dd>
			<% end %>
			<% if @monument.architecture_author %>
				<dt>Architektur</dt>
				<dd>
					<p>
						<%= @monument.architecture_author.first_name %>
						<%= @monument.architecture_author.last_name %>
					</p>
					<% if @monument.architecture_author.email %>
						<p>
							<%= link_to @monument.architecture_author.email, "mailto:#{@monument.archaeology_author.email}" %>
						</p>
					<% end %>
					<p>
						<%= @monument.architecture_author.institution %>
					</p>
				</dd>
			<% end %>
			<% if @monument.created %>
				<dt>Datensatz erstellt</dt>
				<dd>
					<%= @monument.created %>
				</dd>
			<% end %>
			<% if @monument.modified %>
				<dt>Letzte Änderung</dt>
				<dd>
					<%= @monument.modified %>
				</dd>
			<% end %>
		</dl>
	</div>
	
</div>