<div class="monument page">
	
	<h2>
		<%= @monument.id %>
		<%= @monument.title %>
	</h2>
	
	<% if @photos.count > 0 %>
		<div class="photos">
			<%
			captions = []
			photo_numbers = []
			@photos.each_with_index do | photo, photo_index |
				caption = photo.caption
				caption_index = captions.index caption
				if caption_index
					photo_numbers[caption_index].push photo_index+1
				else
					captions.push caption
					photo_numbers.push [photo_index+1]
				end
			end
			%>
			<% @photos.each_with_index do | photo, idx | %>
				<a href="<%= url_for controller: 'monuments', action: 'photos', id: @monument.id, page: idx+1  %>" class="photo" style="background-image: url(http://lupa.at/img/<%= photo.filename %>)">
					<% if captions.count > 1 %>
						<span><%= idx + 1 %></span>
					<% end %>
					<img src="http://lupa.at/img/<%= photo.filename %>">
				</a>
			<% end %>
			<div class='caption'>
				<% captions.each_with_index do | caption, index | %>
					<p>
						<% if captions.count > 1 %>
							<%= raw photo_numbers[index].map{|a| '<span>'+h(a)+'</span>'}.join(' ')%>
						<% end %>
						<%= nl2br caption %>
					</p>
				<% end %>
				<p>
					Diese Bilder sind urheberrechtlich geschützt und dürfen nicht ohne Zustimmung
					des Rechteinhabers verwendet werden.
					Bitte kontaktieren Sie uns wenn Sie eines dieser Bilder verwenden wollen.
					Beachten Sie auch die Seite über 
					<%= link_to "Bildrechte und Bildbestellungen", controller: "pages", action: "show", id: "photos" %>.
				</p>
			</div>
		</div>
	<% end %>
	
	<dl class='third'>
		<dt>Nr</dt>
		<dd><%= @monument.id %></dd>
	</dl>
	
	<dl class='third'>
		<dt>Objekt-Typ</dt>
		<dd>
			<%= @monument.object_type %>
		</dd>
	</dl>
	
	<% if @monument.monument_type %>
		<dl class='third'>
			<dt>Denkmal-Typ</dt>
			<dd>
				<%= @monument.monument_type %>
			</dd>
		</dl>
	<% end %>
	
	<dl>
		<% if @monument.parent_monument %>
			<dt>Teil von</dt>
			<dd>
				<%= link_to_monument @monument.parent_monument %>
			</dd>
		<% end %>
		<% if @monument.child_monuments.present? %>
			<dt>Zugehörige Teile</dt>
			<dd>
				<% for m in @monument.child_monuments %>
					<p><%= link_to_monument m %></p>
				<% end %>
			</dd>
		<% end %>
	</dl>

	<div class="section">
		<h3>Fundort</h3>
		<% if @monument.finding_place && @monument.finding_place.lat && @monument.finding_place.long %>
			<div class="minimap">
				<img class=marker src="<%= asset_path "marker@2x.png" %>">
				<img width=200 height=150 src="https://api.mapbox.com/styles/v1/jabakobob/citeaxn1u00ac2hrzfnjg8398/static/<%= @monument.finding_place.long %>,<%= @monument.finding_place.lat %>,6,0,0/250x188@2x?access_token=pk.eyJ1IjoiamFiYWtvYm9iIiwiYSI6ImNpZ200bTA5ZTAwZDd3OWt0anFqM2wwaGMifQ.Og5ScP-C8AV3I7JHDR0zHQ">
			</div>
		<% end %>
		<dl>
			<% if @monument.finding_place || @monument.finding_place_comment %>
				<dt>Fundort</dt>
				<dd>
					<%= link_to_place @monument.finding_place %> <%= @monument.finding_place_comment %>
					<% 
					if @monument.finding_place && @monument.finding_place.parent
						concat "<span class=deemph>(".html_safe
						@monument.finding_place.parent.hierarchy.reverse.each_with_index do | place, idx |
							concat ", " if idx > 0
							concat link_to_place place
						end
						concat ")</span>".html_safe
					end
					%>
				</dd>
			<% end %>
			<% if @monument.finding_comment %>
				<dt>Fundumstände</dt>
				<dd>
					<%= nl2br @monument.finding_comment %>
				</dd>
			<% end  %>
			<% if @monument.ancient_finding_place %>
				<dt>Antiker Fundort / Provinz</dt>
				<dd>
					<%= @monument.ancient_finding_place.full_name %>
				</dd>
			<% end  %>
		</dl>
	</div>
		
		
	<div class="section">
		<h3>Verwahrort</h3>
		<% if @monument.conservation_place && @monument.conservation_place.lat && @monument.conservation_place.long %>
			<div class="minimap">
				<img class=marker src="<%= asset_path "marker-blue@2x.png" %>">
				<img width=200 height=150 src="https://api.mapbox.com/styles/v1/jabakobob/citeaxn1u00ac2hrzfnjg8398/static/<%= @monument.conservation_place.long %>,<%= @monument.conservation_place.lat %>,6,0,0/250x188@2x?access_token=pk.eyJ1IjoiamFiYWtvYm9iIiwiYSI6ImNpZ200bTA5ZTAwZDd3OWt0anFqM2wwaGMifQ.Og5ScP-C8AV3I7JHDR0zHQ">
			</div>
		<% end %>
		<dl>
			<% if @monument.conservation_place || @monument.conservation_place_comment %>
				<dt>Verwahrort</dt>
				<dd>
					<%= link_to_place @monument.conservation_place %> <%= @monument.conservation_place_comment %>
					<% 
					if @monument.conservation_place && @monument.conservation_place.parent
						concat "<span class=deemph>(".html_safe
						@monument.conservation_place.parent.hierarchy.reverse.each_with_index do | place, idx |
							concat ", " if idx > 0
							concat link_to_place place
						end
						concat ")</span>".html_safe
					end
					%>
				</dd>
			<% end %>
			<% if @monument.museum %>
				<dt>Museum</dt>
				<dd>
					<%= link_to @monument.museum.name, @monument.museum %>
				</dd>
			<% end  %>
			<% if nl2br @monument.conservation_comment %>
				<dt>Verwahrumstände</dt>
				<dd>
					<%= @monument.conservation_comment %>
				</dd>
			<% end  %>
			<% if @monument.museum_inventory_number %>
				<dt>Inventarnummer</dt>
				<dd>
					<%= @monument.museum_inventory_number %>
				</dd>
			<% end  %>
			<% if @monument.regional_info %>
				<dt>Information und Bilder zum Verwahrort</dt>
				<dd>
					<%= link_to @monument.regional_info.name, @monument.regional_info %>
				</dd>
			<% end  %>
		</dl>
	</div>
		
		
	<div class="section">
		<h3>Objekt</h3>
		<dl>
			<% if @monument.conservation_state %>
				<dt>Erhaltung</dt>
				<dd>
					<%= nl2br @monument.conservation_state %>
				</dd>
			<% end  %>
			<% if @monument.width ||  @monument.height || @monument.depth %>
				<dt>Maße</dt>
				<dd>
					<% if @monument.width %>
						<span class='measurement'>
							Breite: <%= @monument.width %>
						</span>
					<% end %>
					<% if @monument.height %>
						<span class='measurement'>
							Höhe: <%= @monument.height %>
						</span>
					<% end %>
					<% if @monument.depth %>
						<span class='measurement'>
							Tiefe: <%= @monument.depth %>
						</span>
					<% end %>
				</dd>
			<% end  %>
			<% if @monument.material || @monument.material_local_name %>
				<dt>Material</dt>
				<dd>
					<%= @monument.material %>
					<% if @monument.material_local_name %>
						<span class="deemph">(<%= @monument.material_local_name %>)</span>
					<% end %>
				</dd>
			<% end %>
			
			<% if @monument.iconography %>
				<dt>Ikonographie</dt>
				<dd>
					<%= nl2br @monument.iconography %>
				</dd>
			<% end  %>	
			<% if @monument.inscription %>
				<dt>Inschrift</dt>
				<dd>
					<%= nl2br @monument.inscription %>
				</dd>
			<% end  %>
			<% if @monument.inscription_variants %>
				<dt>Varianten</dt>
				<dd>
					<%= nl2br @monument.inscription_variants %>
				</dd>
			<% end  %>
			<% if @monument.inscription_translation %>
				<dt>Übersetzung</dt>
				<dd>
					<%= nl2br @monument.inscription_translation %>
				</dd>
			<% end  %>
			<% if @monument.inscription_type %>
				<dt>Inschrift-Typ</dt>
				<dd>
					<%= @monument.inscription_type %>
				</dd>
			<% end  %>
			<% if @monument.inscription_function %>
				<dt>Funktion</dt>
				<dd>
					<%= @monument.inscription_function %>
				</dd>
			<% end  %>
			<% if @monument.inscription_name_donor %>
				<dt>Errichter</dt>
				<dd>
					<%= @monument.inscription_name_donor %>
				</dd>
			<% end  %>
			<% if @monument.inscription_comment %>
				<dt>Kommentar</dt>
				<dd>
					<%= nl2br @monument.inscription_comment %>
				</dd>
			<% end  %>
			<% if @monument.inscription_letter_size %>
				<dt>Buchstabenhöhe</dt>
				<dd>
					<%= @monument.inscription_letter_size %>
				</dd>
			<% end  %>
			<% if @monument.inscription_paleography %>
				<dt>Paleographie</dt>
				<dd>
					<%= nl2br @monument.inscription_paleography %>
				</dd>
			<% end  %>
			<% if @monument.comment %>
				<dt>Kommentar</dt>
				<dd>
					<%= nl2br @monument.comment %>
				</dd>
			<% end %>
		</dl>
	</div>
		
	<% if @monument.dating_phase || @monument.dating_from || @monument.dating_to || @monument.dating_comment %>
		<div class="section">
			<h3>Datierung</h3>
			<dl>
				<% if @monument.dating_phase %>
					<dt>Phase</dt>
					<dd>
						<%= @monument.dating_phase %>
					</dd>
				<% end  %>
				<% if @monument.dating_from || @monument.dating_to %>
					<dt>Jahr</dt>
					<dd>
						<%= @monument.dating_years %>
					</dd>
				<% end  %>
				<% if @monument.dating_comment %>
					<dt>Begründung</dt>
					<dd>
						<%= nl2br @monument.dating_comment %>
					</dd>
				<% end  %>
			</dl>
		</div>
	<% end %>
	
	<div class="section">
		<h3>Referenzen</h3>
		<dl>
			<% if @monument.literature %>
				<dt>Literatur</dt>
				<dd>
					<%= nl2br @monument.literature %>
				</dd>
			<% end %>
			<% if @monument.literature_online %>
				<dt>Online Literatur</dt>
				<dd>
					<%== nl2br(@monument.literature_online)
						.gsub(/HD\d+/, '<a href="http://edh-www.adw.uni-heidelberg.de/edh/inschrift/\\0">\\0</a>')
						.gsub(/EDCS-\d+/, '<a href="http://db.edcs.eu/epigr/edcs_id_en.php?p_edcs_id=\\0">\\0</a>')
						.gsub(/TM[\s\-]*(\d+)/, '<a href="https://www.trismegistos.org/text/\\1">\\0</a>') 
						.gsub(/EDR[\s\-]*(\d+)/, '<a href="http://www.edr-edr.it/edr_programmi/res_complex_comune.php?do=book&id_nr=EDR\\1">\\0</a>') 
						.gsub(/PH[\s\-]*(\d+)/, '<a href="https://epigraphy.packhum.org/text/\\1">\\0</a>')
						%>
				</dd>
			<% end %>
			<dt>Zitat</dt>
			<dd>
				F. und O. Harl, Ubi Erat Lupa, <%= canonical_url_for_monument @monument %><br>
			</dd>
			<dt>QR Code</dt>
			<dd>
				<%= link_to "QR Code für dieses Denkmal anzeigen", action: :qr %>
			</dd>
			<% if @monument.catalog_text %>
				<dt>Katalogtext</dt>
				<dd>
					<%= nl2br @monument.catalog_text %>
				</dd>
			<% end %>
		</dl>
	</div>
	
	<div class="section">
		<h3>Bearbeitung des Datensatzes</h3>
		<dl>
			<% if @monument.archaeology_author %>
				<dt>Archäologie</dt>
				<dd>
					<p>
						<%= @monument.archaeology_author.first_name %>
						<%= @monument.archaeology_author.last_name %>
					</p>
					<% if @monument.archaeology_author.email %>
						<p>
							<%= link_to @monument.archaeology_author.email, "mailto:#{@monument.archaeology_author.email}" %>
						</p>
					<% end %>
					<p>
						<%= @monument.archaeology_author.institution %>
					</p>
				</dd>
			<% end %>
			<% if @monument.epigraphy_author %>
				<dt>Epigraphik</dt>
				<dd>
					<p>
						<%= @monument.epigraphy_author.first_name %>
						<%= @monument.epigraphy_author.last_name %>
					</p>
					<% if @monument.epigraphy_author.email %>
						<p>
							<%= link_to @monument.epigraphy_author.email, "mailto:#{@monument.epigraphy_author.email}" %>
						</p>
					<% end %>
					<p>
						<%= @monument.epigraphy_author.institution %>
					</p>
				</dd>
			<% end %>
			<% if @monument.architecture_author %>
				<dt>Architektur</dt>
				<dd>
					<p>
						<%= @monument.architecture_author.first_name %>
						<%= @monument.architecture_author.last_name %>
					</p>
					<% if @monument.architecture_author.email %>
						<p>
							<%= link_to @monument.architecture_author.email, "mailto:#{@monument.architecture_author.email}" %>
						</p>
					<% end %>
					<p>
						<%= @monument.architecture_author.institution %>
					</p>
				</dd>
			<% end %>
			<% if @monument.created %>
				<dt>Datensatz erstellt</dt>
				<dd>
					<%= @monument.created %>
				</dd>
			<% end %>
			<% if @monument.modified %>
				<dt>Letzte Änderung</dt>
				<dd>
					<%= @monument.modified %>
				</dd>
			<% end %>
		</dl>
		<p>
			Über Ergänzungen und Korrekturen freut sich Friederike Harl <%= link_to "friederike.harl@aon.at", "mailto:friederike.harl@aon.at" %>.
		</p>
	</div>
	
</div>