<div class="author page">
	<h1>
		<%= @author.first_name %> <%= @author.last_name %>
	</h1>
	<% if @author.institution %>
		<p> 
			<%= @author.institution %>
		</p>
	<% end %>
	<% if @author.email %>
		<p> 
			Email: <a href="mailto:<%= @author.email %>"><%= @author.email %></a>
		</p>
	<% end %>
	<p><%= @author.comment %></p>
	<% if @photos.total_count == 1 %>
		<p> 
			1 Steindenkmal
		</p>
	<% else %>
		<p>Fotos von <%= @photos.total_count %> Steindenkmälern</p>
	<% end %>
	<%= paginate @photos %>
	
	<div class='photo-cards'>
		<% @photos.each do | photo | %>
			<%if photo.monument%>
				<a class="photo-card" href="<%= monument_short_path photo.monument, {author: @author} %>" title="<%= photo.monument.id %> <%= photo.monument.title %>">
					<div style="background-image: url(/thumbnail/small/<%= url_encode photo.filename %>);" class=photo></div>
				</a>
			<% else %>
				<% # hidden monument %>
			<% end %>
		<% end %>
		<div style='clear: both;'></div>
	</div>
	<%= paginate @photos %>
</div>
