<div class="page">
	<h1>
		Ubi Erat Lupa
	</h1>
	<h2>
		Bilddatenbank zu antiken Steindenkmälern
	</h2>
	<p>
		<%= nl2br @header_page.display_text %>
	</p>
	<% if @current_page.photo %>
		<img src="http://lupa.at/img/<%= url_encode @current_page.photo.filename %>">
	<% end %>
	<div class='photo-cards'>
		<% @photos.each do | photo | %>
			<%if photo.monument%>
				<a class="photo-card" href="<%= monument_short_path photo.monument %>" title="<%= photo.monument.id %> <%= photo.monument.title %>">
					<div style="background-image: url(//lupa.at/img/<%= url_encode photo.filename %>);" class=photo></div>
				</a>
			<% else %>
				<% # hidden monument %>
			<% end %>
		<% end %>
		<div style='clear: both;'></div>
	</div>
	
	<p>
		<%= nl2br @current_page.display_text %>
	</p>
	
	<p style="text-align: right;">
		<%= link_to "Steindenkmäler suchen", {:controller => 'monuments', :action => 'search'}, class: 'button'%>
		&nbsp;
		<%= link_to "Bilder bestellen", {:controller => 'pages', :action => 'show', :id => 'photos'}, class: 'button'%>
		&nbsp;
		<%= link_to "Kontakt", {:controller => 'pages', :action => 'show', :id => "contact"}, class: 'button'%>
	</p>
	
	<h3>Neue Bilder seit <%= l @new_monuments_date, format: "%B %Y" %></h3>
	<div class="two-column">
		<%= render partial: 'monuments/monuments_list_with_more', locals: { monuments: @new_monuments } %>
	</div>
</div>