<div class="page-menu">
	<% for page in @other_pages do %>
		<% if page == @current_page %>
			<%= link_to page.display_title, page, class: "current" %>
		<% else %>
			<%= link_to page.display_title, page %>
		<% end %>
	<% end %>
</div>
<div class="page">
	<h2>
		<%= @current_page.display_title %>
	</h2>
	<% if @current_page.photo %>
		<img src="http://lupa.at/img/<%= @current_page.photo.filename %>">
	<% end %>
	<p>
		<%= nl2br @current_page.display_text %>
	</p>
</div>