<div class="museum page">
	<h1><%= @museum.name %> <%= @museum.place.name %></h1>
	<p>Ort: <%= @museum.place.full_name %></p>
	<p><%= @monuments.count %> Steindenkmäler</p>
	<%= render partial: 'monuments/monuments_list', locals: { monuments: @monuments } %>
</div>
