<%= form_tag({controller: :queries, action: :create}, class:"query-form", id:"query-form") do  %>
<img src="<%= asset_path "loading.gif" %>" id="loadingGif" class="loadingGif" style="display: none">
<img src="<%= asset_path "menu.png" %>" id="menuDownIMG" class="menuDownIMG" style="display: none">

	<div class="query-inside">

	<div class="query-box-wide">
		<%= label_tag(:id_range, "Nr") %>
		<%= text_field(:query, :id_ranges) %>
	</div>
	
	<div class="query-box">
		<%= label_tag(:id_range, "Objekt-Typ, Denkmal-Typ") %>
		<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" id="object_type" value="<%= query.object_type %>"> 
		<img src="<%= asset_path "reset.png" %>" class="reset_img" id="reset_img_object_type" alt="reset" <%== "style=\"display:inline\"" if query.object_type %>>
		<img src="<%= asset_path "menu.png" %>" id="object_type_menu_img" class="menu_img" <%== "style=\"display:none\"" if query.object_type %>>
		<%= hidden_field(:query, :object_type, id: 'query_object_type_id') %> 
	</div>
	
	<div class="query-box">
		<%= label_tag(:id_range, "Inschrift-Typ") %>
		<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" id="inscription_type" value="<%= query.inscription_type %>"> 
		<img src="<%= asset_path "reset.png" %>" class="reset_img" id="reset_img_inscription_type" alt="reset" <%== "style=\"display:inline\"" if query.inscription_type %>>
		<img src="<%= asset_path "menu.png" %>" id="inscription_type_menu_img" class="menu_img" <%== "style=\"display:none\"" if query.inscription_type %>>
		<%= hidden_field(:query, :inscription_type, id: 'query_inscription_type_id') %> 
	</div>
	
	<div class="query-box-wide">
		<%= label_tag(:keywords, "Titel, Ikonographie") %>
		<%= text_field(:query, :keywords) %> 
	</div>

	<div class="query-box-wide">
		<%= label_tag(:inscription, "Inschrifttext") %>
		<%= text_field(:query, :inscription) %> 
	</div>
	
	<div class="query-box" id="datingBox">
		<%= label_tag(:dating_phase, "Datierung (Phase)") %>
		<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" id="dating_phase" value="<%= query.dating %>"> 
		<img src="<%= asset_path "reset.png" %>" class="reset_img" id="reset_img_dating_phase" alt="reset" <%== "style=\"display:inline\"" if query.dating %>>
		<img src="<%= asset_path "menu.png" %>" id="dating_phase_menu_img" class="menu_img" <%== "style=\"display:none\"" if query.dating %>>
		<%= hidden_field(:query, :dating, id: 'query_dating_phase_id') %> 
	</div>
	
	<div class="query-box-slim">
		<%= label_tag(:finding_place, "Datierung von (Jahr)") %>
		<%= text_field(:query, :dating_from) %> 
	</div>
	
	<div class="query-box-slim">
		<%= label_tag(:finding_place, "bis (Jahr)") %>
		<%= text_field(:query, :dating_to) %> 
	</div>
	
	<div class="query-box" id="findingPlaceBox">
		<%= label_tag(:finding_place, "Fundort") %>
		<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" id="finding_place" value="<%= query.finding_place.name if query.finding_place %>"> 
		<img src="<%= asset_path "reset.png" %>" class="reset_img" id="reset_img_finding_place" alt="reset" <%== "style=\"display:inline\"" if query.finding_place %>>
		<img src="<%= asset_path "menu.png" %>" id="finding_place_menu_img" class="menu_img" <%== "style=\"display:none\"" if query.finding_place %>>
		<%= hidden_field(:query, :finding_place_id) %> 
		<!--<input type="submit" style="display: none"> -->
	</div>
	
	<div class="query-box" id="ancientFindingPlaceBox">
		<%= label_tag(:ancient_finding_place, "Antiker Fundort, Provinz") %>
		<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" id="ancient_finding_place" value="<%= query.ancient_finding_place.name if query.ancient_finding_place %>"> 
		<img src="<%= asset_path "reset.png" %>" class="reset_img" id="reset_img_ancient_finding_place" alt="reset" <%== "style=\"display:inline\"" if query.ancient_finding_place %>>
		<img src="<%= asset_path "menu.png" %>" id="ancient_finding_place_menu_img" class="menu_img" <%== "style=\"display:none\"" if query.ancient_finding_place %>>
		<%= hidden_field(:query, :ancient_finding_place_id) %> 
		<!--<input type="submit" style="display: none"> -->
	</div>

	<div class="query-box" id="conservationPlaceBox">
		<%= label_tag(:conservation_place, "Verwahrort") %>
		<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" id="conservation_place" value="<%= query.conservation_place.name if query.conservation_place %>">
		<img src="<%= asset_path "reset.png" %>" class="reset_img" id="reset_img_conservation_place" alt="reset" <%== "style=\"display:inline \"" if query.conservation_place %>>
		<img src="<%= asset_path "menu.png" %>" id="conservation_place_menu_img" class="menu_img" <%== "style=\"display:none\"" if query.conservation_place %>>
		<%= hidden_field(:query, :conservation_place_id) %> 
		<!--<input type="submit" style="display: none"> -->
	</div>
	
	<div class="query-box">
		<%= label_tag(:museum, "Museum, Inventarnummer") %>
		<%= text_field(:query, :museum) %> 
	</div>
	
	<div class="query-box-wide">
		<%= label_tag(:literature, "Literatur, Online Literatur") %>
		<%= text_field(:query, :literature) %> 
	</div>
	
	<div class="query-box-wide">
		<%= label_tag(:id_range, "Volltextsuche (ausgenommen Fundort, Verwahrort, Museum, Antiker Fundort)") %>
		<%= text_field(:query, :fulltext) %>
	</div>
	

	<div class="clearfloat"></div>

	</div>

	<%= submit_tag "Suchen", class: 'button' %>
<% end %>