<div class="query-summary">
	<% unless @query.finding_place_legacy || @query.conservation_place_legacy || @query.ancient_finding_place_legacy %>
		<div class="show-more change-query-results">
			<%= link_to "Suche ändern", controller: "queries", action: "edit", id: @query %>
		</div>
	<% end %>

	<% if @query.id_ranges %>
		<p><strong>Nr:</strong> <%= @query.id_ranges %></p>
	<% end %>
	
	<% if @query.keywords %>
		<p><strong>Titel, Objekt, Ikonographie:</strong> <%= @query.keywords %></p>
	<% end %>
	
	<% if @query.inscription %>
		<p><strong>Inschrifttext, typ:</strong> <%= @query.inscription %></p>
	<% end %>
	
	<% if @query.dating %>
		<p><strong>Datierung:</strong> <%= @query.dating %></p>
	<% end %>
	
	<% if @query.finding_place_legacy %>
		<p>
			<strong>Fundort:</strong> 
			<%= @query.finding_place_legacy %> (alter Suchmodus)
		</p>
	<% end %>
	
	<% if @query.conservation_place_legacy %>
		<p>
			<strong>Verwahrort:</strong> 
			<%= @query.conservation_place_legacy %> (alter Suchmodus)
		</p>
	<% end %>
	
	<% if @query.ancient_finding_place_legacy %>
		<p>
			<strong>Antiker Fundort, Provinz:</strong> 
			<%= @query.ancient_finding_place_legacy %> (alter Suchmodus)
		</p>
	<% end %>
	
	
	<% if @query.finding_place_id %>
		<p>
			<strong>Fundort:</strong> 
			<%= @query.finding_place.name %>
			<%= '(' + @query.finding_place.place_type + ')' if @query.finding_place.place_type %>
		</p>
	<% end %>
	
	<% if @query.ancient_finding_place_id %>
		<p>
			<strong>Antiker Fundort, Provinz:</strong>
			<%= @query.ancient_finding_place.name %>
		</p>
	<% end %>
	
	<% if @query.conservation_place %>
		<p>
			<strong>Verwahrort:</strong>
			<%= @query.conservation_place.name %>
			<%= '(' + @query.conservation_place.place_type + ')' if @query.conservation_place.place_type %>
		</p>
	<% end %>
	
	<% if @query.museum %>
		<p><strong>Museum, Inventarnummer:</strong> <%= @query.museum %></p>
	<% end %>
	
	<% if @query.photo %>
		<p><strong>Fotograf, Bildrechte:</strong> <%= @query.photo %></p>
	<% end %>
	
	<% if @query.literature %>
		<p><strong>Literatur:</strong> <%= @query.literature %></p>
	<% end %>
	
	<% if @query.fulltext %>
		<p><strong>Volltext:</strong> <%= @query.fulltext %></p>
	<% end %>
	
	<% if @monuments %>
		<p class="query-hits"><%= String(@monuments.total_count) + ' ' + (@monuments.total_count==1 ? 'Denkmal' : 'Denkmäler') %></p>
	<% end %>

	<div class="flex-break"></div>

	<!-- <% if @monuments %>
		<p class="query-link">
			Link zu diesem Suchergebnis: <%= request.protocol + request.host_with_port + url_for(@query)  %><br>
			<%= link_to "QR Codes anzeigen", action: :qr %>
		</p>
	<% end %> -->

</div>