<div class="query-summary">
	<div class="show-more change-query-results">
		<%= link_to "Suche ändern", controller: "queries", action: "edit", id: @query %>
	</div>

	<% if @query.id_ranges %>
		<p><strong>Nr:</strong> <%= @query.id_ranges %></p>
	<% end %>
	
	<% if @query.keywords %>
		<p><strong>Titel + Ikonographie:</strong> <%= @query.keywords %></p>
	<% end %>
	
	<% if @query.inscription %>
		<p><strong>Inschrift:</strong> <%= @query.inscription %></p>
	<% end %>
	
	<% if @query.finding_place %>
		<p><strong>Fundort:</strong> <%= @query.finding_place %></p>
	<% end %>
	
	<% if @query.conservation_place %>
		<p><strong>Verwahrort:</strong> <%= @query.conservation_place %></p>
	<% end %>
	
	<% if @query.museum %>
		<p><strong>Museum:</strong> <%= @query.museum %></p>
	<% end %>
	
	<% if @query.literature %>
		<p><strong>Literatur:</strong> <%= @query.literature %></p>
	<% end %>
		
	<% if @monuments %>
		<p class="query-hits"><%= String(@monuments.total_count) + ' ' + (@monuments.total_count==1 ? 'Denkmal' : 'Denkmäler') %></p>
	<% end %>

	<div class="flex-break"></div>

	<!-- <% if @monuments %>
		<p class="query-link">
			Link zu diesem Suchergebnis: <%= request.protocol + request.host_with_port + url_for(@query)  %><br>
			<%= link_to "QR Codes anzeigen", action: :qr %>
		</p>
	<% end %> -->

</div>