<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
<style>
</style>
<div id='map'></div>

<script>
	L.mapbox.accessToken = 'pk.eyJ1IjoiamFiYWtvYm9iIiwiYSI6ImNpZ200bTA5ZTAwZDd3OWt0anFqM2wwaGMifQ.Og5ScP-C8AV3I7JHDR0zHQ';
	var map = L.mapbox.map('map').setView([47, 13.975], 7)
	L.mapbox.styleLayer('mapbox://styles/jabakobob/citeaxn1u00ac2hrzfnjg8398').addTo(map);
	
	
	var markerIcon = L.icon({
    iconUrl: '<%= asset_path "marker.png" %>',
    iconRetinaUrl: '<%= asset_path "marker@2x.png" %>',
    iconSize: [9, 9],
//    iconAnchor: [22, 94],
//    popupAnchor: [-3, -76],
//    shadowUrl: 'my-icon-shadow.png',
//    shadowRetinaUrl: 'my-icon-shadow@2x.png',
//    shadowSize: [68, 95],
//    shadowAnchor: [22, 94]
});

	<% @places.each do |place| %>
		L.marker([<%= place.lat %>,<%= place.long %>], {icon: markerIcon, title: "<%= place.name %>", url: "<%= finding_place_path place %>"}).on('click',clickMarker).addTo(map);
	<% end %>
		
	function clickMarker(evt) { window.location = evt.target.options.url }
</script>
