<div class="place page">
	<%= render partial: 'places/breadcrumb', locals: { place: @place } %>
	<h1><%= @place.name %></h1>
	<p><%= @monuments_found.count %> Steindenkmäler gefunden in <%= @place.name %></p>
	<%= render partial: 'monuments/monuments_list', locals: { monuments: @monuments_found } %>
	
	<p><%= @monuments_conserved.count %> Steindenkmäler verwahrt in <%= @place.name %></p>
	<%= render partial: 'monuments/monuments_list', locals: { monuments: @monuments_conserved } %>
</div>