<div class="place page">
	<h1><%= @place.name %> (Fundort)</h1>
	<ol class="breadcrumb">
		<% @place.hierarchy.each do | place | %>
			<li><%= link_to place.name, place %></li>
		<% end %>
		<li>Fundort</li>
	</ol>
	<div class="section">
		<h3><%= @monuments_found.total_count %> Steindenkmäler gefunden in <%= @place.name %></h3>
		<%= paginate @monuments_found if @monuments_found.current_page > 1 %>
		<%= render partial: 'monuments/monuments_list', locals: { monuments: @monuments_found } %>
		<%= paginate @monuments_found %>
	</div>
</div>