<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Ubi Erat Lupa' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="lupa-title">
		<a href="/"><img src="<%= asset_path "ubi-erat-lupa.png" %>" alt="Ubi Erat Lupa"></a>
		<h1>Ubi Erat Lupa</h1>
		<!-- <h2>Bilddatenbank zu antiken&nbsp;Steindenkmälern</h2> -->
		<h2>&nbsp;</h2>
	</div>
	<div id="lupa-menu">
		<a href="<%= url_for :controller => 'monuments', :action => 'search' %>"<% if current_page?(:controller => 'monuments', :action => 'search') %> class="active"<% end %>>
			STEINDENKMÄLER
		</a>
		<a href="<%= url_for :controller => 'museums', :action => 'index' %>"<% if controller.controller_name == 'museums' %> class="active"<% end %>>
			MUSEEN
		</a>
		<a href="<%= url_for :controller => 'collections', :action => 'index' %>"<% if controller.controller_name == 'collections' %> class="active"<% end %>>
			SAMMLUNGEN
		</a>
		<a href="<%= url_for :controller => 'authors', :action => 'photo' %>"<% if controller.controller_name == 'authors' %> class="active"<% end %>>
			FOTOGRAFEN
		</a>
		<a href="<%= url_for :controller => 'places', :action => 'map' %>"<% if current_page?(:controller => 'places', :action => 'map') %> class="active"<% end %>>
			KARTEN
		</a>
		<a href="<%= url_for controller: "pages", action: "show", id: "lupa" %>"<% if controller.controller_name == "pages" and controller.action_name == "show" %> class="active"<% end %>>
			ÜBER LUPA
		</a>
	</div>
	<div id=content>
		<%= yield %>
	</div>
</body>
</html>
